.navbar{
  justify-content: space-between;
  background-color: #D6E9FE;
}

a{
  padding-right: 1rem;
}

a:link, a:visited {
  text-decoration: none;
  text-shadow: 1px 1px 1px #555;
}

a:hover {
  color: #bbb;
}

a:active {
  text-shadow: -1px -1px 1px #555;
  position: relative;
  top: 1px;
  left: 1px;
}

.logo-title{
  display: flex;
  align-items: flex-start;
}

.logo{
  width: 75px;
  height: 75px;
}
