.footer{
  background-color: pink;
  display: flex;
  justify-items: center;
}

.footer-text{
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 100px;
  min-width: -webkit-fill-available;
  text-align-last: center;
}

